/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background: #e5e5e5;
}

.container {
  max-width: 550px;
  margin: 0 auto;
  padding-top: 20px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* header */

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 20px;
  height: 65px;
  margin-bottom: 5px;
}
.header__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-right: auto;
}

.header__image {
  margin-right: 20px;
}

.header__project {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
}

/* form */

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form__input {
  border-radius: 5px;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-indent: 5px;
  border: 1px solid #d5d4d8;
}

::placeholder {
  color: #0d0d0d;
}

input:focus {
  outline: none;
}

.form__button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/* meme */

.meme {
  position: relative;
}

.meme__image {
  border-radius: 4px;
  width: 100%;
}

.meme__text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top-text {
  top: 0;
}

.bottom-text {
  bottom: 0;
}
